body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#image-preview {
    max-width: 60%;
    height: 60%;
    text-align: center;
    /* height: auto; */
    display: none;
    margin-top: 20px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form-label {
    font-weight: bold;
}

#image-status {
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

/* Loader */
#loader {
    margin: 20px auto;
    border: 5px solid #ccc;
    border-top: 5px solid blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}